[submodule "dwm"]
	path = dwm
	url = gh:gurjal/dwm
[submodule "dmenu"]
	path = dmenu
	url = gh:gurjal/dmenu
[submodule "slstatus"]
	path = slstatus
	url = gh:gurjal/slstatus
[submodule "st"]
	path = st
	url = gh:gurjal/st
[submodule "tabbed"]
	path = tabbed
	url = gh:gurjal/tabbed
