/* rose colortheme */
@media (prefers-color-scheme: dark) {
  :root {
    --dimmed_fg: color-mix(in srgb, #908caa 50%, transparent);
    --normal_fg: #908caa;
    --select_fg: #e0def4;
    --normal_bg: #232136;
    --select_bd: #c4a7e7;
    --select_bg: color-mix(in srgb, currentColor 6%, transparent);
    --shadow: 0 0 4px black;
    --roundness: 12px;
    --roundness-small: 10px;
    --roundness-tiny: 8px;
  }
}
