@import "userColors.css";

:root {
  --button-bgcolor: var(--normal_bg) !important;
  --button-hover-bgcolor: var(--select_bg) !important;
  --button-active-bgcolor: var(--select_bg) !important;
  --input-bgcolor: var(--normal_bg) !important;
  --input-color: var(--normal_fg) !important;
  --input-border-color: none !important;
  --panel-banner-item-update-supported-bgcolor: var(--normal_bg) !important;
  --panel-banner-item-info-icon-bgcolor: var(--normal_bg) !important;
  --panel-item-hover-bgcolor: var(--select_bg) !important;
  --panel-item-active-bgcolor: var(--select_bg) !important;
  --panel-border-radius: var(--roundness) !important;
  --panel-separator-color: var(--normal_bg) !important;
  --urlbar-box-bgcolor: var(--normal_bg) !important;
  --urlbar-box-focus-bgcolor: var(--normal_bg) !important;
  --urlbar-box-hover-bgcolor: var(--select_bg) !important;
  --urlbar-box-active-bgcolor: var(--select_bg) !important;
  --arrowpanel-color: var(--normal_fg) !important;
  --arrowpanel-background: var(--normal_bg) !important;
  --arrowpanel-border-color: none !important;
  --arrowpanel-border-radius: var(--roundness) !important;
  --arrowpanel-menuitem-border-radius: var(--roundness-small) !important;
  --toolbar-color: var(--normal_fg) !important;
  --toolbar-bgcolor: var(--normal_bg) !important;
  --toolbar-field-color: var(--normal_fg) !important;
  --toolbar-field-background-color: var(--normal_bg) !important;
  --toolbar-field-border-color: none !important;
  --toolbar-field-focus-color: var(--normal_fg) !important;
  --toolbar-field-focus-background-color: var(--normal_bg) !important;
  --toolbarbutton-icon-fill: var(--normal_fg) !important;
  --toolbarbutton-hover-background: var(--select_bg) !important;
  --toolbarbutton-active-background: var(--select_bg) !important;
  --toolbarbutton-border-radius: var(--roundness-small) !important;
  --lwt-tab-text: var(--normal_fg) !important;
  --lwt-tab-line-color: var(--normal_fg) !important;
  --lwt-accent-color: var(--normal_bg) !important;
  --lwt-text-color: var(--dimmed_fg) !important;
  --lwt-selected-tab-background-color: var(--normal_bg) !important;
  --lwt-tabs-border-color: none !important;
  --tab-border-radius: var(--roundness) !important;
  --autocomplete-popup-highlight-background: var(--normal_bg) !important;
  --autocomplete-popup-highlight-color: var(--normal_fg) !important;
  --autocomplete-popup-separator-color: var(--normal_bg) !important;
  --menuitem-hover-background-color: var(--select_bg) !important;
  --menuitem-active-background-color: var(--select_bg) !important;
  --menu-color: var(--normal_fg) !important;
  --menu-background-color: var(--normal_bg) !important;
  --menu-border-color: none !important;
  --cfr-animation-duration: 0s !important;
  --sidebar-bg-color: var(--normal_bg) !important;
  --sidebar-text-color: var(--normal_fg) !important;
  --sidebar-background-color: var(--normal_bg) !important;
  --sidebar-border-color: none !important;
  --lwt-sidebar-text-color: var(--normal_fg) !important;
  --lwt-sidebar-background-color: var(--normal_bg) !important;
}

/* search field border */
:root:-moz-lwtheme {
  --focus-outline-color: var(--dimmed_fg) !important;
}

/* background color during window prerender */
#browser,
#tabbrowser-tabpanels {
  background-color: var(--normal_bg) !important;
}

/* dont display container tab line */
.tab-context-line {
  display: none !important;
}

/* container address bar label */
#userContext-icons {
  filter: opacity(75%) !important;
}

/* active tab shadow  */
#tabbrowser-tabs:not([noshadowfortests])
  .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}

/* tab favicon when selected */
.tabbrowser-tab .tab-icon-image:is([selected="true"]) {
  filter: brightness(80%) !important;
}

/* tab favicon when hovering over inactive tab */
.tabbrowser-tab:hover .tab-icon-image:not([selected="true"]) {
  filter: brightness(80%) opacity(50%) !important;
}

/* tab favicon for inactive tab */
.tabbrowser-tab .tab-icon-image:not([selected="true"]) {
  filter: brightness(80%) opacity(30%) grayscale(100%) !important;
}

/* normally do not show tab close button */
.tabbrowser-tab .tab-close-button {
  display: none;
}

/* when hovering on tab show tab close button */
.tabbrowser-tab:not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}

/* border below navbar */
#navigator-toolbox {
  border-bottom: none !important;
}

/* sidebar color settings */
#sidebar-box {
  color: var(--normal_fg) !important;
  background-color: var(--normal_bg) !important;
}

/* sidebar top header border */
#sidebar-header {
  border-bottom: none !important;
}

/* sidebar divider */
.sidebar-splitter {
  width: 0px !important;
  border: none !important;
}

/* autohide tab bar */
/* :root:not([customizing]) */
/*   #navigator-toolbox:not(:hover):not(:focus-within) */
/*   #TabsToolbar { */
/*   visibility: collapse; */
/* } */
