/* seoul256 colortheme */
@media (prefers-color-scheme: dark) {
  :root {
    --dimmed_fg: color-mix(in srgb, #949494 50%, transparent);
    --normal_fg: #949494;
    --select_fg: #d0d0d0;
    --normal_bg: #3a3a3a;
    --select_bd: #ffafaf;
    --select_bg: color-mix(in srgb, currentColor 6%, transparent);
    --shadow: 0 0 4px black;
    --roundness: 16px;
    --roundness-small: 12px;
    --roundness-tiny: 8px;
  }
}
